mat-grid-list {
    margin-top: 20px;
}

.logout {
    display: flex;
    justify-content: end;
    font-size: 18px;
    font-weight: 500;
    color: #1414e1;
}

.avatar {
    margin-top: 10px;
}

ul {
    display: flex;
    flex-flow: wrap;
    list-style: none;

    li {
        margin: 20px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 1px 2px 9px 1px #888888a1;
        transition: box-shadow 0.5s ease;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s ease;
        }

        .user-data {
            text-decoration: none;
            color: #000;
        }

        .action-btns {
            padding: 0 15px;

            button {
                width: 50%;
                line-height: 0;
                padding: 5px;
            }

            button:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            button:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}