<div class="text-center">
    <a href="" class="logout" (click)="logout()">Logout</a>
    <button mat-raised-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add_box</mat-icon>Create New User
    </button>

    <ul>
        <li *ngFor="let user of users; let i = index">
            <a class="user-data">
                <h3 class="m-0">{{user.userName}}</h3>
                <p class="mt-0">{{user.email}}</p>
                <div class="avatar">
                    <img src="../../../assets/img/avatar.webp" alt="">
                </div>
            </a>
            <div class="action-btns">
                <button mat-raised-button color="primary" (click)="updateUser(user, i)">
                    <mat-icon class="m-0">edit</mat-icon>
                </button>
                <button mat-raised-button color="warn" (click)="deleteUser(user, i)">
                    <mat-icon class="m-0">delete</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</div>
