<h1 mat-dialog-title>Create New User</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="d-flex flex-column">
        <span class="error-msg" *ngIf="submitted && form.invalid">Please enter all required data</span>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" placeholder="User Name" formControlName="userName">
            <mat-error
                *ngIf="(form.controls.userName.touched || submitted) && !form.controls.userName.errors?.invalidName">
                User Name should have minimum 4 characters
            </mat-error>
            <mat-error
                *ngIf="(form.controls.userName.touched || submitted) && form.controls.userName.errors?.invalidName">
                User Name should start with character
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="(form.controls.password.touched || submitted) && form.controls.password.errors?.required">
                Password is required
            </mat-error>
            <mat-error
                *ngIf="(form.controls.password.touched || submitted) && form.controls.password.errors?.invalidPassword">
                Password should have minimum 8 characters, at least 1 uppercase letter,
                1 special character and 1 number
            </mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-between">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Firsr Name" formControlName="firstName">
                <mat-error
                    *ngIf="(form.controls.firstName.touched || submitted) && !form.controls.firstName.errors?.invalidName">
                    First Name should have minimum 5 characters
                </mat-error>
                <mat-error
                    *ngIf="(form.controls.firstName.touched || submitted) && form.controls.firstName.errors?.invalidName">
                    First Name should start with character
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="Last Name" formControlName="lastName">
                <mat-error
                    *ngIf="(form.controls.lastName.touched || submitted) && !form.controls.lastName.errors?.invalidName">
                    Last Name should have minimum 5 characters
                </mat-error>
                <mat-error
                    *ngIf="(form.controls.lastName.touched || submitted) && form.controls.lastName.errors?.invalidName">
                    Last Name should start with character
                </mat-error>
            </mat-form-field>
        </div>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error>
                Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phone">
            <mat-error>
                Please provide a valid phone
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select formControlName="department">
                <mat-option *ngFor="let department of departments" [value]="department.id">
                    {{department.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="justify-content-right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" (click)="createUser()">{{btnName}}</button>
</div>