/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column;
}

.justify-content-right {
    justify-content: right;
}
.justify-content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}

mat-icon {
    margin-right: 5px;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}
mat-form-field{
    margin-bottom: 15px;
}

.avatar img{
    width: 150px;
    height: 150px;
}

.error-msg{
    font-size: 12px;
    color: red;
    text-align: center;
}